/*
 * 全部  API 文档
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.zashigaofa.client.api;

import com.zashigaofa.client.ApiClient;
import com.zashigaofa.client.ApiException;
import com.zashigaofa.client.ApiResponse;
import com.zashigaofa.client.Configuration;
import com.zashigaofa.client.Pair;

import com.zashigaofa.client.model.AppSetting;
import com.zashigaofa.client.model.AppSettingApiResponse;
import com.zashigaofa.client.model.AppSettingGroupPostResultApiResponse;
import com.zashigaofa.client.model.AppSettingItemPostResultApiResponse;
import com.zashigaofa.client.model.AppSettingListApiResponse;
import com.zashigaofa.client.model.AppSettingProviderPostResultApiResponse;
import com.zashigaofa.client.model.AppSettingSettingPostResultApiResponse;
import com.zashigaofa.client.model.BooleanApiResponse;
import com.zashigaofa.client.model.ServiceGroup;
import com.zashigaofa.client.model.ServiceGroupApiResponse;
import com.zashigaofa.client.model.ServiceGroupListApiResponse;
import com.zashigaofa.client.model.ServiceItem;
import com.zashigaofa.client.model.ServiceItemApiResponse;
import com.zashigaofa.client.model.ServiceItemListApiResponse;
import com.zashigaofa.client.model.ServiceProvider;
import com.zashigaofa.client.model.ServiceProviderApiResponse;
import com.zashigaofa.client.model.ServiceProviderListApiResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2025-05-15T06:11:08.446207689Z[Etc/UTC]", comments = "Generator version: 7.13.0-SNAPSHOT")
public class AppSettingApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public AppSettingApi() {
    this(Configuration.getDefaultApiClient());
  }

  public AppSettingApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 获取服务分组详情
   * 根据服务分组ID获取服务分组详情
   * @param id 服务分组ID (required)
   * @param appKey  (required)
   * @return ServiceGroupApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceGroupApiResponse appServiceSettingGroup(Long id, String appKey) throws ApiException {
    ApiResponse<ServiceGroupApiResponse> localVarResponse = appServiceSettingGroupWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 获取服务分组详情
   * 根据服务分组ID获取服务分组详情
   * @param id 服务分组ID (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;ServiceGroupApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceGroupApiResponse> appServiceSettingGroupWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingGroupRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingGroup", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceGroupApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceGroupApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceGroupApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingGroupRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appServiceSettingGroup");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingGroup");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Groups/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除服务分组
   * 根据服务分组ID删除服务分组
   * @param id 服务分组ID (required)
   * @param appKey  (required)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse appServiceSettingGroupDelete(Long id, String appKey) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = appServiceSettingGroupDeleteWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 删除服务分组
   * 根据服务分组ID删除服务分组
   * @param id 服务分组ID (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> appServiceSettingGroupDeleteWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingGroupDeleteRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingGroupDelete", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingGroupDeleteRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appServiceSettingGroupDelete");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingGroupDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Groups/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 添加服务分组
   * 添加新的服务分组信息
   * @param appKey  (required)
   * @param serviceGroup 服务分组信息 (optional)
   * @return AppSettingGroupPostResultApiResponse
   * @throws ApiException if fails to make API call
   */
  public AppSettingGroupPostResultApiResponse appServiceSettingGroupPost(String appKey, ServiceGroup serviceGroup) throws ApiException {
    ApiResponse<AppSettingGroupPostResultApiResponse> localVarResponse = appServiceSettingGroupPostWithHttpInfo(appKey, serviceGroup);
    return localVarResponse.getData();
  }

  /**
   * 添加服务分组
   * 添加新的服务分组信息
   * @param appKey  (required)
   * @param serviceGroup 服务分组信息 (optional)
   * @return ApiResponse&lt;AppSettingGroupPostResultApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AppSettingGroupPostResultApiResponse> appServiceSettingGroupPostWithHttpInfo(String appKey, ServiceGroup serviceGroup) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingGroupPostRequestBuilder(appKey, serviceGroup);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingGroupPost", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AppSettingGroupPostResultApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AppSettingGroupPostResultApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AppSettingGroupPostResultApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingGroupPostRequestBuilder(String appKey, ServiceGroup serviceGroup) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingGroupPost");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Groups"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceGroup);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 更新服务分组
   * 根据服务分组ID更新服务分组信息
   * @param id 服务分组ID (required)
   * @param appKey  (required)
   * @param serviceGroup 服务分组信息 (optional)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse appServiceSettingGroupPut(Long id, String appKey, ServiceGroup serviceGroup) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = appServiceSettingGroupPutWithHttpInfo(id, appKey, serviceGroup);
    return localVarResponse.getData();
  }

  /**
   * 更新服务分组
   * 根据服务分组ID更新服务分组信息
   * @param id 服务分组ID (required)
   * @param appKey  (required)
   * @param serviceGroup 服务分组信息 (optional)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> appServiceSettingGroupPutWithHttpInfo(Long id, String appKey, ServiceGroup serviceGroup) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingGroupPutRequestBuilder(id, appKey, serviceGroup);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingGroupPut", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingGroupPutRequestBuilder(Long id, String appKey, ServiceGroup serviceGroup) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appServiceSettingGroupPut");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingGroupPut");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Groups/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceGroup);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 获取服务分组列表
   * 根据服务商ID和显示标志获取服务分组列表
   * @param appKey  (required)
   * @param providerId 服务商ID (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ServiceGroupListApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceGroupListApiResponse appServiceSettingGroups(String appKey, Long providerId, Boolean showFlag) throws ApiException {
    ApiResponse<ServiceGroupListApiResponse> localVarResponse = appServiceSettingGroupsWithHttpInfo(appKey, providerId, showFlag);
    return localVarResponse.getData();
  }

  /**
   * 获取服务分组列表
   * 根据服务商ID和显示标志获取服务分组列表
   * @param appKey  (required)
   * @param providerId 服务商ID (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ApiResponse&lt;ServiceGroupListApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceGroupListApiResponse> appServiceSettingGroupsWithHttpInfo(String appKey, Long providerId, Boolean showFlag) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingGroupsRequestBuilder(appKey, providerId, showFlag);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingGroups", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceGroupListApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceGroupListApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceGroupListApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingGroupsRequestBuilder(String appKey, Long providerId, Boolean showFlag) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingGroups");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Groups"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "providerId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("providerId", providerId));
    localVarQueryParameterBaseName = "showFlag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("showFlag", showFlag));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 服务配置项详情
   * 根据服务配置项ID获取服务配置项详情
   * @param id 服务配置项ID (required)
   * @param appKey  (required)
   * @return ServiceItemApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceItemApiResponse appServiceSettingItem(Long id, String appKey) throws ApiException {
    ApiResponse<ServiceItemApiResponse> localVarResponse = appServiceSettingItemWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 服务配置项详情
   * 根据服务配置项ID获取服务配置项详情
   * @param id 服务配置项ID (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;ServiceItemApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceItemApiResponse> appServiceSettingItemWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingItemRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingItem", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceItemApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceItemApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceItemApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingItemRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appServiceSettingItem");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingItem");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Items/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除服务配置项
   * 根据服务配置项ID删除服务配置项
   * @param id 服务配置项ID (required)
   * @param appKey  (required)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse appServiceSettingItemDelete(Long id, String appKey) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = appServiceSettingItemDeleteWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 删除服务配置项
   * 根据服务配置项ID删除服务配置项
   * @param id 服务配置项ID (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> appServiceSettingItemDeleteWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingItemDeleteRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingItemDelete", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingItemDeleteRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appServiceSettingItemDelete");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingItemDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Items/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 添加服务配置项
   * 添加新的服务配置项信息
   * @param appKey  (required)
   * @param serviceItem 服务配置项信息 (optional)
   * @return AppSettingItemPostResultApiResponse
   * @throws ApiException if fails to make API call
   */
  public AppSettingItemPostResultApiResponse appServiceSettingItemPost(String appKey, ServiceItem serviceItem) throws ApiException {
    ApiResponse<AppSettingItemPostResultApiResponse> localVarResponse = appServiceSettingItemPostWithHttpInfo(appKey, serviceItem);
    return localVarResponse.getData();
  }

  /**
   * 添加服务配置项
   * 添加新的服务配置项信息
   * @param appKey  (required)
   * @param serviceItem 服务配置项信息 (optional)
   * @return ApiResponse&lt;AppSettingItemPostResultApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AppSettingItemPostResultApiResponse> appServiceSettingItemPostWithHttpInfo(String appKey, ServiceItem serviceItem) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingItemPostRequestBuilder(appKey, serviceItem);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingItemPost", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AppSettingItemPostResultApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AppSettingItemPostResultApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AppSettingItemPostResultApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingItemPostRequestBuilder(String appKey, ServiceItem serviceItem) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingItemPost");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Items"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceItem);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 更新服务配置项
   * 根据服务配置项ID更新服务配置项信息
   * @param id 服务配置项ID (required)
   * @param appKey  (required)
   * @param serviceItem 服务配置项信息 (optional)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse appServiceSettingItemPut(Long id, String appKey, ServiceItem serviceItem) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = appServiceSettingItemPutWithHttpInfo(id, appKey, serviceItem);
    return localVarResponse.getData();
  }

  /**
   * 更新服务配置项
   * 根据服务配置项ID更新服务配置项信息
   * @param id 服务配置项ID (required)
   * @param appKey  (required)
   * @param serviceItem 服务配置项信息 (optional)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> appServiceSettingItemPutWithHttpInfo(Long id, String appKey, ServiceItem serviceItem) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingItemPutRequestBuilder(id, appKey, serviceItem);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingItemPut", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingItemPutRequestBuilder(Long id, String appKey, ServiceItem serviceItem) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appServiceSettingItemPut");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingItemPut");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Items/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceItem);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 服务配置项列表
   * 根据业务代码、服务商代码、分组代码和显示标志获取服务配置项列表
   * @param appKey  (required)
   * @param bizCode 业务代码 (optional)
   * @param providerCode 服务商代码 (optional)
   * @param groupCode 分组代码 (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ServiceItemListApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceItemListApiResponse appServiceSettingItems(String appKey, String bizCode, String providerCode, String groupCode, Boolean showFlag) throws ApiException {
    ApiResponse<ServiceItemListApiResponse> localVarResponse = appServiceSettingItemsWithHttpInfo(appKey, bizCode, providerCode, groupCode, showFlag);
    return localVarResponse.getData();
  }

  /**
   * 服务配置项列表
   * 根据业务代码、服务商代码、分组代码和显示标志获取服务配置项列表
   * @param appKey  (required)
   * @param bizCode 业务代码 (optional)
   * @param providerCode 服务商代码 (optional)
   * @param groupCode 分组代码 (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ApiResponse&lt;ServiceItemListApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceItemListApiResponse> appServiceSettingItemsWithHttpInfo(String appKey, String bizCode, String providerCode, String groupCode, Boolean showFlag) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingItemsRequestBuilder(appKey, bizCode, providerCode, groupCode, showFlag);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingItems", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceItemListApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceItemListApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceItemListApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingItemsRequestBuilder(String appKey, String bizCode, String providerCode, String groupCode, Boolean showFlag) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingItems");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Items"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "bizCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("bizCode", bizCode));
    localVarQueryParameterBaseName = "providerCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("providerCode", providerCode));
    localVarQueryParameterBaseName = "groupCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("groupCode", groupCode));
    localVarQueryParameterBaseName = "showFlag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("showFlag", showFlag));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 获取服务商详情
   * 根据服务商ID获取服务商详情
   * @param id 服务商ID (required)
   * @param appKey  (required)
   * @return ServiceProviderApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceProviderApiResponse appServiceSettingProvider(Long id, String appKey) throws ApiException {
    ApiResponse<ServiceProviderApiResponse> localVarResponse = appServiceSettingProviderWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 获取服务商详情
   * 根据服务商ID获取服务商详情
   * @param id 服务商ID (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;ServiceProviderApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceProviderApiResponse> appServiceSettingProviderWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingProviderRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingProvider", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceProviderApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceProviderApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceProviderApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingProviderRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appServiceSettingProvider");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingProvider");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Providers/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除服务商
   * 根据服务商ID删除服务商
   * @param id 服务商ID (required)
   * @param appKey  (required)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse appServiceSettingProviderDelete(Long id, String appKey) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = appServiceSettingProviderDeleteWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 删除服务商
   * 根据服务商ID删除服务商
   * @param id 服务商ID (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> appServiceSettingProviderDeleteWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingProviderDeleteRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingProviderDelete", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingProviderDeleteRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appServiceSettingProviderDelete");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingProviderDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Providers/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 添加服务商
   * 添加新的服务商信息
   * @param appKey  (required)
   * @param serviceProvider 服务商信息 (optional)
   * @return AppSettingProviderPostResultApiResponse
   * @throws ApiException if fails to make API call
   */
  public AppSettingProviderPostResultApiResponse appServiceSettingProviderPost(String appKey, ServiceProvider serviceProvider) throws ApiException {
    ApiResponse<AppSettingProviderPostResultApiResponse> localVarResponse = appServiceSettingProviderPostWithHttpInfo(appKey, serviceProvider);
    return localVarResponse.getData();
  }

  /**
   * 添加服务商
   * 添加新的服务商信息
   * @param appKey  (required)
   * @param serviceProvider 服务商信息 (optional)
   * @return ApiResponse&lt;AppSettingProviderPostResultApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AppSettingProviderPostResultApiResponse> appServiceSettingProviderPostWithHttpInfo(String appKey, ServiceProvider serviceProvider) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingProviderPostRequestBuilder(appKey, serviceProvider);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingProviderPost", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AppSettingProviderPostResultApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AppSettingProviderPostResultApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AppSettingProviderPostResultApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingProviderPostRequestBuilder(String appKey, ServiceProvider serviceProvider) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingProviderPost");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Providers"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceProvider);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 更新服务商
   * 根据服务商ID更新服务商信息
   * @param id 服务商ID (required)
   * @param appKey  (required)
   * @param serviceProvider 服务商信息 (optional)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse appServiceSettingProviderPut(Long id, String appKey, ServiceProvider serviceProvider) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = appServiceSettingProviderPutWithHttpInfo(id, appKey, serviceProvider);
    return localVarResponse.getData();
  }

  /**
   * 更新服务商
   * 根据服务商ID更新服务商信息
   * @param id 服务商ID (required)
   * @param appKey  (required)
   * @param serviceProvider 服务商信息 (optional)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> appServiceSettingProviderPutWithHttpInfo(Long id, String appKey, ServiceProvider serviceProvider) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingProviderPutRequestBuilder(id, appKey, serviceProvider);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingProviderPut", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingProviderPutRequestBuilder(Long id, String appKey, ServiceProvider serviceProvider) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appServiceSettingProviderPut");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingProviderPut");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Providers/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceProvider);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 获取服务商列表
   * 根据业务代码和显示标志获取服务商列表
   * @param appKey  (required)
   * @param bizCode 业务代码 (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ServiceProviderListApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceProviderListApiResponse appServiceSettingProviders(String appKey, String bizCode, Boolean showFlag) throws ApiException {
    ApiResponse<ServiceProviderListApiResponse> localVarResponse = appServiceSettingProvidersWithHttpInfo(appKey, bizCode, showFlag);
    return localVarResponse.getData();
  }

  /**
   * 获取服务商列表
   * 根据业务代码和显示标志获取服务商列表
   * @param appKey  (required)
   * @param bizCode 业务代码 (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ApiResponse&lt;ServiceProviderListApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceProviderListApiResponse> appServiceSettingProvidersWithHttpInfo(String appKey, String bizCode, Boolean showFlag) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appServiceSettingProvidersRequestBuilder(appKey, bizCode, showFlag);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appServiceSettingProviders", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceProviderListApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceProviderListApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceProviderListApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appServiceSettingProvidersRequestBuilder(String appKey, String bizCode, Boolean showFlag) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appServiceSettingProviders");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/Providers"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "bizCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("bizCode", bizCode));
    localVarQueryParameterBaseName = "showFlag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("showFlag", showFlag));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 配置详情
   * 根据配置ID获取配置详情
   * @param id 配置ID (required)
   * @param appKey  (required)
   * @return AppSettingApiResponse
   * @throws ApiException if fails to make API call
   */
  public AppSettingApiResponse appSetting(Long id, String appKey) throws ApiException {
    ApiResponse<AppSettingApiResponse> localVarResponse = appSettingWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 配置详情
   * 根据配置ID获取配置详情
   * @param id 配置ID (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;AppSettingApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AppSettingApiResponse> appSettingWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appSettingRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appSetting", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AppSettingApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AppSettingApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AppSettingApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appSettingRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appSetting");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appSetting");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除配置
   * 根据配置ID删除配置
   * @param id 配置ID (required)
   * @param appKey  (required)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse appSettingDelete(Long id, String appKey) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = appSettingDeleteWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 删除配置
   * 根据配置ID删除配置
   * @param id 配置ID (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> appSettingDeleteWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appSettingDeleteRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appSettingDelete", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appSettingDeleteRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appSettingDelete");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appSettingDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 增加配置
   * 添加新的配置内容
   * @param appKey  (required)
   * @param appSetting 配置内容 (optional)
   * @return AppSettingSettingPostResultApiResponse
   * @throws ApiException if fails to make API call
   */
  public AppSettingSettingPostResultApiResponse appSettingPost(String appKey, AppSetting appSetting) throws ApiException {
    ApiResponse<AppSettingSettingPostResultApiResponse> localVarResponse = appSettingPostWithHttpInfo(appKey, appSetting);
    return localVarResponse.getData();
  }

  /**
   * 增加配置
   * 添加新的配置内容
   * @param appKey  (required)
   * @param appSetting 配置内容 (optional)
   * @return ApiResponse&lt;AppSettingSettingPostResultApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AppSettingSettingPostResultApiResponse> appSettingPostWithHttpInfo(String appKey, AppSetting appSetting) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appSettingPostRequestBuilder(appKey, appSetting);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appSettingPost", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AppSettingSettingPostResultApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AppSettingSettingPostResultApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AppSettingSettingPostResultApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appSettingPostRequestBuilder(String appKey, AppSetting appSetting) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appSettingPost");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(appSetting);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 更新配置
   * 根据配置ID更新配置内容
   * @param id 配置ID (required)
   * @param appKey  (required)
   * @param appSetting 配置内容 (optional)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse appSettingPut(Long id, String appKey, AppSetting appSetting) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = appSettingPutWithHttpInfo(id, appKey, appSetting);
    return localVarResponse.getData();
  }

  /**
   * 更新配置
   * 根据配置ID更新配置内容
   * @param id 配置ID (required)
   * @param appKey  (required)
   * @param appSetting 配置内容 (optional)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> appSettingPutWithHttpInfo(Long id, String appKey, AppSetting appSetting) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appSettingPutRequestBuilder(id, appKey, appSetting);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appSettingPut", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appSettingPutRequestBuilder(Long id, String appKey, AppSetting appSetting) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling appSettingPut");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appSettingPut");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(appSetting);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 配置列表
   * 根据服务商代码、分组代码、标签和配置项代码获取配置列表
   * @param appKey  (required)
   * @param providerCode 服务商代码 (optional)
   * @param groupCode 分组代码 (optional)
   * @param tag 标签 (optional)
   * @param code 配置项代码 (optional)
   * @return AppSettingListApiResponse
   * @throws ApiException if fails to make API call
   */
  public AppSettingListApiResponse appSettings(String appKey, String providerCode, String groupCode, String tag, String code) throws ApiException {
    ApiResponse<AppSettingListApiResponse> localVarResponse = appSettingsWithHttpInfo(appKey, providerCode, groupCode, tag, code);
    return localVarResponse.getData();
  }

  /**
   * 配置列表
   * 根据服务商代码、分组代码、标签和配置项代码获取配置列表
   * @param appKey  (required)
   * @param providerCode 服务商代码 (optional)
   * @param groupCode 分组代码 (optional)
   * @param tag 标签 (optional)
   * @param code 配置项代码 (optional)
   * @return ApiResponse&lt;AppSettingListApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AppSettingListApiResponse> appSettingsWithHttpInfo(String appKey, String providerCode, String groupCode, String tag, String code) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = appSettingsRequestBuilder(appKey, providerCode, groupCode, tag, code);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("appSettings", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AppSettingListApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AppSettingListApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AppSettingListApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder appSettingsRequestBuilder(String appKey, String providerCode, String groupCode, String tag, String code) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling appSettings");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/AppSetting/{appKey}"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "providerCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("providerCode", providerCode));
    localVarQueryParameterBaseName = "groupCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("groupCode", groupCode));
    localVarQueryParameterBaseName = "tag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tag", tag));
    localVarQueryParameterBaseName = "code";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("code", code));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
