/*
 * 全部  API 文档
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.zashigaofa.client.api;

import com.zashigaofa.client.ApiClient;
import com.zashigaofa.client.ApiException;
import com.zashigaofa.client.ApiResponse;
import com.zashigaofa.client.Configuration;
import com.zashigaofa.client.Pair;

import com.zashigaofa.client.model.BooleanApiResponse;
import com.zashigaofa.client.model.ServiceGroup;
import com.zashigaofa.client.model.ServiceGroupApiResponse;
import com.zashigaofa.client.model.ServiceGroupListApiResponse;
import com.zashigaofa.client.model.ServiceItem;
import com.zashigaofa.client.model.ServiceItemApiResponse;
import com.zashigaofa.client.model.ServiceItemListApiResponse;
import com.zashigaofa.client.model.ServiceProvider;
import com.zashigaofa.client.model.ServiceProviderApiResponse;
import com.zashigaofa.client.model.ServiceProviderListApiResponse;
import com.zashigaofa.client.model.ServiceSettingGroupPostResultApiResponse;
import com.zashigaofa.client.model.ServiceSettingItemPostResultApiResponse;
import com.zashigaofa.client.model.ServiceSettingProviderPostResultApiResponse;
import com.zashigaofa.client.model.ServiceSettingSettingPostResultApiResponse;
import com.zashigaofa.client.model.Settings;
import com.zashigaofa.client.model.SettingsApiResponse;
import com.zashigaofa.client.model.SettingsListApiResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2025-03-31T07:56:41.646456145Z[Etc/UTC]", comments = "Generator version: 7.13.0-SNAPSHOT")
public class ServiceSettingApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ServiceSettingApi() {
    this(Configuration.getDefaultApiClient());
  }

  public ServiceSettingApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 获取配置详情
   * 根据配置ID获取配置详情
   * @param id 配置ID (required)
   * @return SettingsApiResponse
   * @throws ApiException if fails to make API call
   */
  public SettingsApiResponse serviceSetting(Long id) throws ApiException {
    ApiResponse<SettingsApiResponse> localVarResponse = serviceSettingWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 获取配置详情
   * 根据配置ID获取配置详情
   * @param id 配置ID (required)
   * @return ApiResponse&lt;SettingsApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SettingsApiResponse> serviceSettingWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSetting", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SettingsApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SettingsApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SettingsApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSetting");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除配置
   * 根据配置ID删除配置
   * @param id 配置ID (required)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse serviceSettingDelete(Long id) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = serviceSettingDeleteWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 删除配置
   * 根据配置ID删除配置
   * @param id 配置ID (required)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> serviceSettingDeleteWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingDeleteRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingDelete", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingDeleteRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSettingDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 获取服务分组详情
   * 根据服务分组ID获取服务分组详情
   * @param id 服务分组ID (required)
   * @return ServiceGroupApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceGroupApiResponse serviceSettingGroup(Long id) throws ApiException {
    ApiResponse<ServiceGroupApiResponse> localVarResponse = serviceSettingGroupWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 获取服务分组详情
   * 根据服务分组ID获取服务分组详情
   * @param id 服务分组ID (required)
   * @return ApiResponse&lt;ServiceGroupApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceGroupApiResponse> serviceSettingGroupWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingGroupRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingGroup", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceGroupApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceGroupApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceGroupApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingGroupRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSettingGroup");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Groups/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除服务分组
   * 根据服务分组ID删除服务分组
   * @param id 服务分组ID (required)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse serviceSettingGroupDelete(Long id) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = serviceSettingGroupDeleteWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 删除服务分组
   * 根据服务分组ID删除服务分组
   * @param id 服务分组ID (required)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> serviceSettingGroupDeleteWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingGroupDeleteRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingGroupDelete", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingGroupDeleteRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSettingGroupDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Groups/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 添加服务分组
   * 添加新的服务分组
   * @param serviceGroup 服务分组实体 (optional)
   * @return ServiceSettingGroupPostResultApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceSettingGroupPostResultApiResponse serviceSettingGroupPost(ServiceGroup serviceGroup) throws ApiException {
    ApiResponse<ServiceSettingGroupPostResultApiResponse> localVarResponse = serviceSettingGroupPostWithHttpInfo(serviceGroup);
    return localVarResponse.getData();
  }

  /**
   * 添加服务分组
   * 添加新的服务分组
   * @param serviceGroup 服务分组实体 (optional)
   * @return ApiResponse&lt;ServiceSettingGroupPostResultApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceSettingGroupPostResultApiResponse> serviceSettingGroupPostWithHttpInfo(ServiceGroup serviceGroup) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingGroupPostRequestBuilder(serviceGroup);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingGroupPost", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceSettingGroupPostResultApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceSettingGroupPostResultApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceSettingGroupPostResultApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingGroupPostRequestBuilder(ServiceGroup serviceGroup) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Groups";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceGroup);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 更新服务分组
   * 根据服务分组ID更新服务分组信息
   * @param id 服务分组ID (required)
   * @param serviceGroup 服务分组实体 (optional)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse serviceSettingGroupPut(Long id, ServiceGroup serviceGroup) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = serviceSettingGroupPutWithHttpInfo(id, serviceGroup);
    return localVarResponse.getData();
  }

  /**
   * 更新服务分组
   * 根据服务分组ID更新服务分组信息
   * @param id 服务分组ID (required)
   * @param serviceGroup 服务分组实体 (optional)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> serviceSettingGroupPutWithHttpInfo(Long id, ServiceGroup serviceGroup) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingGroupPutRequestBuilder(id, serviceGroup);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingGroupPut", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingGroupPutRequestBuilder(Long id, ServiceGroup serviceGroup) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSettingGroupPut");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Groups/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceGroup);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 获取服务分组列表
   * 根据服务商ID和显示标志获取服务分组列表
   * @param providerId 服务商ID (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ServiceGroupListApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceGroupListApiResponse serviceSettingGroups(Long providerId, Boolean showFlag) throws ApiException {
    ApiResponse<ServiceGroupListApiResponse> localVarResponse = serviceSettingGroupsWithHttpInfo(providerId, showFlag);
    return localVarResponse.getData();
  }

  /**
   * 获取服务分组列表
   * 根据服务商ID和显示标志获取服务分组列表
   * @param providerId 服务商ID (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ApiResponse&lt;ServiceGroupListApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceGroupListApiResponse> serviceSettingGroupsWithHttpInfo(Long providerId, Boolean showFlag) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingGroupsRequestBuilder(providerId, showFlag);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingGroups", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceGroupListApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceGroupListApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceGroupListApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingGroupsRequestBuilder(Long providerId, Boolean showFlag) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Groups";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "providerId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("providerId", providerId));
    localVarQueryParameterBaseName = "showFlag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("showFlag", showFlag));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 服务配置详情
   * 根据服务配置ID获取服务配置详情
   * @param id 服务配置ID (required)
   * @return ServiceItemApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceItemApiResponse serviceSettingItem(Long id) throws ApiException {
    ApiResponse<ServiceItemApiResponse> localVarResponse = serviceSettingItemWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 服务配置详情
   * 根据服务配置ID获取服务配置详情
   * @param id 服务配置ID (required)
   * @return ApiResponse&lt;ServiceItemApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceItemApiResponse> serviceSettingItemWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingItemRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingItem", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceItemApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceItemApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceItemApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingItemRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSettingItem");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Items/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除服务配置
   * 根据服务配置ID删除服务配置
   * @param id 服务配置ID (required)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse serviceSettingItemDelete(Long id) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = serviceSettingItemDeleteWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 删除服务配置
   * 根据服务配置ID删除服务配置
   * @param id 服务配置ID (required)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> serviceSettingItemDeleteWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingItemDeleteRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingItemDelete", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingItemDeleteRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSettingItemDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Items/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 添加服务配置
   * 添加新的服务配置
   * @param serviceItem 服务配置实体 (optional)
   * @return ServiceSettingItemPostResultApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceSettingItemPostResultApiResponse serviceSettingItemPost(ServiceItem serviceItem) throws ApiException {
    ApiResponse<ServiceSettingItemPostResultApiResponse> localVarResponse = serviceSettingItemPostWithHttpInfo(serviceItem);
    return localVarResponse.getData();
  }

  /**
   * 添加服务配置
   * 添加新的服务配置
   * @param serviceItem 服务配置实体 (optional)
   * @return ApiResponse&lt;ServiceSettingItemPostResultApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceSettingItemPostResultApiResponse> serviceSettingItemPostWithHttpInfo(ServiceItem serviceItem) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingItemPostRequestBuilder(serviceItem);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingItemPost", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceSettingItemPostResultApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceSettingItemPostResultApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceSettingItemPostResultApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingItemPostRequestBuilder(ServiceItem serviceItem) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Items";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceItem);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 更新服务配置
   * 根据服务配置ID更新服务配置信息
   * @param id 服务配置ID (required)
   * @param serviceItem 服务配置实体 (optional)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse serviceSettingItemPut(Long id, ServiceItem serviceItem) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = serviceSettingItemPutWithHttpInfo(id, serviceItem);
    return localVarResponse.getData();
  }

  /**
   * 更新服务配置
   * 根据服务配置ID更新服务配置信息
   * @param id 服务配置ID (required)
   * @param serviceItem 服务配置实体 (optional)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> serviceSettingItemPutWithHttpInfo(Long id, ServiceItem serviceItem) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingItemPutRequestBuilder(id, serviceItem);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingItemPut", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingItemPutRequestBuilder(Long id, ServiceItem serviceItem) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSettingItemPut");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Items/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceItem);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 服务配置列表
   * 根据业务代码、服务商代码、分组代码和显示标志获取服务配置列表
   * @param bizCode 业务代码 (optional)
   * @param providerCode 服务商代码 (optional)
   * @param groupCode 分组代码 (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ServiceItemListApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceItemListApiResponse serviceSettingItems(String bizCode, String providerCode, String groupCode, Boolean showFlag) throws ApiException {
    ApiResponse<ServiceItemListApiResponse> localVarResponse = serviceSettingItemsWithHttpInfo(bizCode, providerCode, groupCode, showFlag);
    return localVarResponse.getData();
  }

  /**
   * 服务配置列表
   * 根据业务代码、服务商代码、分组代码和显示标志获取服务配置列表
   * @param bizCode 业务代码 (optional)
   * @param providerCode 服务商代码 (optional)
   * @param groupCode 分组代码 (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ApiResponse&lt;ServiceItemListApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceItemListApiResponse> serviceSettingItemsWithHttpInfo(String bizCode, String providerCode, String groupCode, Boolean showFlag) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingItemsRequestBuilder(bizCode, providerCode, groupCode, showFlag);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingItems", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceItemListApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceItemListApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceItemListApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingItemsRequestBuilder(String bizCode, String providerCode, String groupCode, Boolean showFlag) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Items";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "bizCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("bizCode", bizCode));
    localVarQueryParameterBaseName = "providerCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("providerCode", providerCode));
    localVarQueryParameterBaseName = "groupCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("groupCode", groupCode));
    localVarQueryParameterBaseName = "showFlag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("showFlag", showFlag));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 增加配置
   * 添加新的配置
   * @param settings 配置实体 (optional)
   * @return ServiceSettingSettingPostResultApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceSettingSettingPostResultApiResponse serviceSettingPost(Settings settings) throws ApiException {
    ApiResponse<ServiceSettingSettingPostResultApiResponse> localVarResponse = serviceSettingPostWithHttpInfo(settings);
    return localVarResponse.getData();
  }

  /**
   * 增加配置
   * 添加新的配置
   * @param settings 配置实体 (optional)
   * @return ApiResponse&lt;ServiceSettingSettingPostResultApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceSettingSettingPostResultApiResponse> serviceSettingPostWithHttpInfo(Settings settings) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingPostRequestBuilder(settings);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingPost", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceSettingSettingPostResultApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceSettingSettingPostResultApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceSettingSettingPostResultApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingPostRequestBuilder(Settings settings) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(settings);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 获取服务商详情
   * 根据服务商ID获取服务商详情
   * @param id 服务商ID (required)
   * @return ServiceProviderApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceProviderApiResponse serviceSettingProvider(Long id) throws ApiException {
    ApiResponse<ServiceProviderApiResponse> localVarResponse = serviceSettingProviderWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 获取服务商详情
   * 根据服务商ID获取服务商详情
   * @param id 服务商ID (required)
   * @return ApiResponse&lt;ServiceProviderApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceProviderApiResponse> serviceSettingProviderWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingProviderRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingProvider", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceProviderApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceProviderApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceProviderApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingProviderRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSettingProvider");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Providers/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除服务商
   * 根据服务商ID删除服务商
   * @param id 服务商ID (required)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse serviceSettingProviderDelete(Long id) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = serviceSettingProviderDeleteWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 删除服务商
   * 根据服务商ID删除服务商
   * @param id 服务商ID (required)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> serviceSettingProviderDeleteWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingProviderDeleteRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingProviderDelete", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingProviderDeleteRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSettingProviderDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Providers/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 添加服务商
   * 添加新的服务商
   * @param serviceProvider 服务商实体 (optional)
   * @return ServiceSettingProviderPostResultApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceSettingProviderPostResultApiResponse serviceSettingProviderPost(ServiceProvider serviceProvider) throws ApiException {
    ApiResponse<ServiceSettingProviderPostResultApiResponse> localVarResponse = serviceSettingProviderPostWithHttpInfo(serviceProvider);
    return localVarResponse.getData();
  }

  /**
   * 添加服务商
   * 添加新的服务商
   * @param serviceProvider 服务商实体 (optional)
   * @return ApiResponse&lt;ServiceSettingProviderPostResultApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceSettingProviderPostResultApiResponse> serviceSettingProviderPostWithHttpInfo(ServiceProvider serviceProvider) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingProviderPostRequestBuilder(serviceProvider);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingProviderPost", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceSettingProviderPostResultApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceSettingProviderPostResultApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceSettingProviderPostResultApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingProviderPostRequestBuilder(ServiceProvider serviceProvider) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Providers";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceProvider);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 更新服务商
   * 根据服务商ID更新服务商信息
   * @param id 服务商ID (required)
   * @param serviceProvider 服务商实体 (optional)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse serviceSettingProviderPut(Long id, ServiceProvider serviceProvider) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = serviceSettingProviderPutWithHttpInfo(id, serviceProvider);
    return localVarResponse.getData();
  }

  /**
   * 更新服务商
   * 根据服务商ID更新服务商信息
   * @param id 服务商ID (required)
   * @param serviceProvider 服务商实体 (optional)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> serviceSettingProviderPutWithHttpInfo(Long id, ServiceProvider serviceProvider) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingProviderPutRequestBuilder(id, serviceProvider);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingProviderPut", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingProviderPutRequestBuilder(Long id, ServiceProvider serviceProvider) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSettingProviderPut");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Providers/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(serviceProvider);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 获取服务商列表
   * 根据业务代码和显示标志获取服务商列表
   * @param bizCode 业务代码 (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ServiceProviderListApiResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceProviderListApiResponse serviceSettingProviders(String bizCode, Boolean showFlag) throws ApiException {
    ApiResponse<ServiceProviderListApiResponse> localVarResponse = serviceSettingProvidersWithHttpInfo(bizCode, showFlag);
    return localVarResponse.getData();
  }

  /**
   * 获取服务商列表
   * 根据业务代码和显示标志获取服务商列表
   * @param bizCode 业务代码 (optional)
   * @param showFlag 是否显示 (optional, default to false)
   * @return ApiResponse&lt;ServiceProviderListApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceProviderListApiResponse> serviceSettingProvidersWithHttpInfo(String bizCode, Boolean showFlag) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingProvidersRequestBuilder(bizCode, showFlag);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingProviders", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ServiceProviderListApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ServiceProviderListApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ServiceProviderListApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingProvidersRequestBuilder(String bizCode, Boolean showFlag) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/Providers";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "bizCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("bizCode", bizCode));
    localVarQueryParameterBaseName = "showFlag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("showFlag", showFlag));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 更新配置
   * 根据配置ID更新配置信息
   * @param id 配置ID (required)
   * @param settings 配置实体 (optional)
   * @return BooleanApiResponse
   * @throws ApiException if fails to make API call
   */
  public BooleanApiResponse serviceSettingPut(Long id, Settings settings) throws ApiException {
    ApiResponse<BooleanApiResponse> localVarResponse = serviceSettingPutWithHttpInfo(id, settings);
    return localVarResponse.getData();
  }

  /**
   * 更新配置
   * 根据配置ID更新配置信息
   * @param id 配置ID (required)
   * @param settings 配置实体 (optional)
   * @return ApiResponse&lt;BooleanApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BooleanApiResponse> serviceSettingPutWithHttpInfo(Long id, Settings settings) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingPutRequestBuilder(id, settings);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettingPut", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BooleanApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BooleanApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BooleanApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingPutRequestBuilder(Long id, Settings settings) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceSettingPut");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(settings);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 获取配置列表
   * 根据业务代码、业务标识、服务商代码、分组代码、标签和配置项代码获取配置列表
   * @param bizCode 业务代码 (required)
   * @param bizId 业务标识 (required)
   * @param providerCode 服务商代码 (optional)
   * @param groupCode 分组代码 (optional)
   * @param tag 标签 (optional)
   * @param code 配置项代码 (optional)
   * @return SettingsListApiResponse
   * @throws ApiException if fails to make API call
   */
  public SettingsListApiResponse serviceSettings(String bizCode, String bizId, String providerCode, String groupCode, String tag, String code) throws ApiException {
    ApiResponse<SettingsListApiResponse> localVarResponse = serviceSettingsWithHttpInfo(bizCode, bizId, providerCode, groupCode, tag, code);
    return localVarResponse.getData();
  }

  /**
   * 获取配置列表
   * 根据业务代码、业务标识、服务商代码、分组代码、标签和配置项代码获取配置列表
   * @param bizCode 业务代码 (required)
   * @param bizId 业务标识 (required)
   * @param providerCode 服务商代码 (optional)
   * @param groupCode 分组代码 (optional)
   * @param tag 标签 (optional)
   * @param code 配置项代码 (optional)
   * @return ApiResponse&lt;SettingsListApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SettingsListApiResponse> serviceSettingsWithHttpInfo(String bizCode, String bizId, String providerCode, String groupCode, String tag, String code) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceSettingsRequestBuilder(bizCode, bizId, providerCode, groupCode, tag, code);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceSettings", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SettingsListApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SettingsListApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SettingsListApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceSettingsRequestBuilder(String bizCode, String bizId, String providerCode, String groupCode, String tag, String code) throws ApiException {
    // verify the required parameter 'bizCode' is set
    if (bizCode == null) {
      throw new ApiException(400, "Missing the required parameter 'bizCode' when calling serviceSettings");
    }
    // verify the required parameter 'bizId' is set
    if (bizId == null) {
      throw new ApiException(400, "Missing the required parameter 'bizId' when calling serviceSettings");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ServiceSetting";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "bizCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("bizCode", bizCode));
    localVarQueryParameterBaseName = "bizId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("bizId", bizId));
    localVarQueryParameterBaseName = "providerCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("providerCode", providerCode));
    localVarQueryParameterBaseName = "groupCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("groupCode", groupCode));
    localVarQueryParameterBaseName = "tag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tag", tag));
    localVarQueryParameterBaseName = "code";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("code", code));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
