/*
 * 全部  API 文档
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.zashigaofa.client.api;

import com.zashigaofa.client.ApiClient;
import com.zashigaofa.client.ApiException;
import com.zashigaofa.client.ApiResponse;
import com.zashigaofa.client.Configuration;
import com.zashigaofa.client.Pair;

import com.zashigaofa.client.model.ExecuteFunctionRequest;
import java.io.File;
import com.zashigaofa.client.model.JObjectApiResult;
import java.time.OffsetDateTime;
import com.zashigaofa.client.model.PostIndexRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2025-03-22T08:55:19.994923193Z[Etc/UTC]", comments = "Generator version: 7.13.0-SNAPSHOT")
public class StorageApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public StorageApi() {
    this(Configuration.getDefaultApiClient());
  }

  public StorageApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 聚合查询
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @param pipeline 构建聚合查询 (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageAggregate(String table, String appKey, String pipeline) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageAggregateWithHttpInfo(table, appKey, pipeline);
    return localVarResponse.getData();
  }

  /**
   * 聚合查询
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @param pipeline 构建聚合查询 (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageAggregateWithHttpInfo(String table, String appKey, String pipeline) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageAggregateRequestBuilder(table, appKey, pipeline);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageAggregate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageAggregateRequestBuilder(String table, String appKey, String pipeline) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storageAggregate");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageAggregate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/Aggregate"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "pipeline";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pipeline", pipeline));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 清空表数据
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @param filter 筛选条件 (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageClear(String table, String appKey, String filter) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageClearWithHttpInfo(table, appKey, filter);
    return localVarResponse.getData();
  }

  /**
   * 清空表数据
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @param filter 筛选条件 (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageClearWithHttpInfo(String table, String appKey, String filter) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageClearRequestBuilder(table, appKey, filter);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageClear", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageClearRequestBuilder(String table, String appKey, String filter) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storageClear");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageClear");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/Clear"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除数据
   * 
   * @param table 表名称 (required)
   * @param id 数据ID (required)
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageDelete(String table, String id, String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageDeleteWithHttpInfo(table, id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 删除数据
   * 
   * @param table 表名称 (required)
   * @param id 数据ID (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageDeleteWithHttpInfo(String table, String id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageDeleteRequestBuilder(table, id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageDelete", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageDeleteRequestBuilder(String table, String id, String appKey) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storageDelete");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling storageDelete");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/{id}"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除索引
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @param indexName 索引名称 (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageDeleteIndex(String table, String appKey, String indexName) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageDeleteIndexWithHttpInfo(table, appKey, indexName);
    return localVarResponse.getData();
  }

  /**
   * 删除索引
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @param indexName 索引名称 (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageDeleteIndexWithHttpInfo(String table, String appKey, String indexName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageDeleteIndexRequestBuilder(table, appKey, indexName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageDeleteIndex", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageDeleteIndexRequestBuilder(String table, String appKey, String indexName) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storageDeleteIndex");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageDeleteIndex");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/indexes"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "indexName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("indexName", indexName));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 数据详情
   * 
   * @param table 表名称 (required)
   * @param id 数据ID (required)
   * @param appKey  (required)
   * @param project json格式 (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageDetail(String table, String id, String appKey, String project) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageDetailWithHttpInfo(table, id, appKey, project);
    return localVarResponse.getData();
  }

  /**
   * 数据详情
   * 
   * @param table 表名称 (required)
   * @param id 数据ID (required)
   * @param appKey  (required)
   * @param project json格式 (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageDetailWithHttpInfo(String table, String id, String appKey, String project) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageDetailRequestBuilder(table, id, appKey, project);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageDetail", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageDetailRequestBuilder(String table, String id, String appKey, String project) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storageDetail");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling storageDetail");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageDetail");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/{id}"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "project";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project", project));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 执行函数
   * 
   * @param nonce  (required)
   * @param timestamp  (required)
   * @param signature  (required)
   * @param appKey  (required)
   * @param executeFunctionRequest  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageExecuteFunction(String nonce, Long timestamp, String signature, String appKey, ExecuteFunctionRequest executeFunctionRequest) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageExecuteFunctionWithHttpInfo(nonce, timestamp, signature, appKey, executeFunctionRequest);
    return localVarResponse.getData();
  }

  /**
   * 执行函数
   * 
   * @param nonce  (required)
   * @param timestamp  (required)
   * @param signature  (required)
   * @param appKey  (required)
   * @param executeFunctionRequest  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageExecuteFunctionWithHttpInfo(String nonce, Long timestamp, String signature, String appKey, ExecuteFunctionRequest executeFunctionRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageExecuteFunctionRequestBuilder(nonce, timestamp, signature, appKey, executeFunctionRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageExecuteFunction", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageExecuteFunctionRequestBuilder(String nonce, Long timestamp, String signature, String appKey, ExecuteFunctionRequest executeFunctionRequest) throws ApiException {
    // verify the required parameter 'nonce' is set
    if (nonce == null) {
      throw new ApiException(400, "Missing the required parameter 'nonce' when calling storageExecuteFunction");
    }
    // verify the required parameter 'timestamp' is set
    if (timestamp == null) {
      throw new ApiException(400, "Missing the required parameter 'timestamp' when calling storageExecuteFunction");
    }
    // verify the required parameter 'signature' is set
    if (signature == null) {
      throw new ApiException(400, "Missing the required parameter 'signature' when calling storageExecuteFunction");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageExecuteFunction");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/ExecuteFunction"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "nonce";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("nonce", nonce));
    localVarQueryParameterBaseName = "timestamp";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("timestamp", timestamp));
    localVarQueryParameterBaseName = "signature";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("signature", signature));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(executeFunctionRequest);
      localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 导出数据
   * 
   * @param table  (required)
   * @param appKey  (required)
   * @param filter  (optional)
   * @param startTime  (optional)
   * @param endTime  (optional)
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File storageExport(String table, String appKey, String filter, OffsetDateTime startTime, OffsetDateTime endTime) throws ApiException {
    ApiResponse<File> localVarResponse = storageExportWithHttpInfo(table, appKey, filter, startTime, endTime);
    return localVarResponse.getData();
  }

  /**
   * 导出数据
   * 
   * @param table  (required)
   * @param appKey  (required)
   * @param filter  (optional)
   * @param startTime  (optional)
   * @param endTime  (optional)
   * @return ApiResponse&lt;File&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<File> storageExportWithHttpInfo(String table, String appKey, String filter, OffsetDateTime startTime, OffsetDateTime endTime) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageExportRequestBuilder(table, appKey, filter, startTime, endTime);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageExport", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<File>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<File>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<File>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageExportRequestBuilder(String table, String appKey, String filter, OffsetDateTime startTime, OffsetDateTime endTime) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storageExport");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageExport");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/Export"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "startTime";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("startTime", startTime));
    localVarQueryParameterBaseName = "endTime";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("endTime", endTime));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 导入数据
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @param _file 导入的文件 (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageImport(String table, String appKey, File _file) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageImportWithHttpInfo(table, appKey, _file);
    return localVarResponse.getData();
  }

  /**
   * 导入数据
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @param _file 导入的文件 (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageImportWithHttpInfo(String table, String appKey, File _file) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageImportRequestBuilder(table, appKey, _file);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageImport", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageImportRequestBuilder(String table, String appKey, File _file) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storageImport");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageImport");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/Import"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    MultipartEntityBuilder multiPartBuilder = MultipartEntityBuilder.create();
    boolean hasFiles = false;
    multiPartBuilder.addBinaryBody("file", _file);
    hasFiles = true;
    HttpEntity entity = multiPartBuilder.build();
    HttpRequest.BodyPublisher formDataPublisher;
    if (hasFiles) {
        Pipe pipe;
        try {
            pipe = Pipe.open();
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        new Thread(() -> {
            try (OutputStream outputStream = Channels.newOutputStream(pipe.sink())) {
                entity.writeTo(outputStream);
            } catch (IOException e) {
                e.printStackTrace();
            }
        }).start();
        formDataPublisher = HttpRequest.BodyPublishers.ofInputStream(() -> Channels.newInputStream(pipe.source()));
    } else {
        ByteArrayOutputStream formOutputStream = new ByteArrayOutputStream();
        try {
            entity.writeTo(formOutputStream);
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        formDataPublisher = HttpRequest.BodyPublishers
            .ofInputStream(() -> new ByteArrayInputStream(formOutputStream.toByteArray()));
    }
    localVarRequestBuilder
        .header("Content-Type", entity.getContentType().getValue())
        .method("POST", formDataPublisher);
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 获取索引
   * 
   * @param table  (required)
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageIndexes(String table, String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageIndexesWithHttpInfo(table, appKey);
    return localVarResponse.getData();
  }

  /**
   * 获取索引
   * 
   * @param table  (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageIndexesWithHttpInfo(String table, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageIndexesRequestBuilder(table, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageIndexes", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageIndexesRequestBuilder(String table, String appKey) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storageIndexes");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageIndexes");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/Indexes"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 查询数据
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @param filter 过滤，json格式 (optional)
   * @param project 字段映射，json格式 (optional)
   * @param sort 排序，json格式 (optional)
   * @param startTime 开始时间 (optional)
   * @param endTime 结束时间 (optional)
   * @param explain 查看执行计划 (optional, default to false)
   * @param take 默认为10 (optional, default to 10)
   * @param skip 默认为0 (optional, default to 0)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageList(String table, String appKey, String filter, String project, String sort, OffsetDateTime startTime, OffsetDateTime endTime, Boolean explain, Integer take, Integer skip) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageListWithHttpInfo(table, appKey, filter, project, sort, startTime, endTime, explain, take, skip);
    return localVarResponse.getData();
  }

  /**
   * 查询数据
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @param filter 过滤，json格式 (optional)
   * @param project 字段映射，json格式 (optional)
   * @param sort 排序，json格式 (optional)
   * @param startTime 开始时间 (optional)
   * @param endTime 结束时间 (optional)
   * @param explain 查看执行计划 (optional, default to false)
   * @param take 默认为10 (optional, default to 10)
   * @param skip 默认为0 (optional, default to 0)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageListWithHttpInfo(String table, String appKey, String filter, String project, String sort, OffsetDateTime startTime, OffsetDateTime endTime, Boolean explain, Integer take, Integer skip) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageListRequestBuilder(table, appKey, filter, project, sort, startTime, endTime, explain, take, skip);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageList", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageListRequestBuilder(String table, String appKey, String filter, String project, String sort, OffsetDateTime startTime, OffsetDateTime endTime, Boolean explain, Integer take, Integer skip) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storageList");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageList");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "project";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project", project));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));
    localVarQueryParameterBaseName = "startTime";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("startTime", startTime));
    localVarQueryParameterBaseName = "endTime";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("endTime", endTime));
    localVarQueryParameterBaseName = "explain";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("explain", explain));
    localVarQueryParameterBaseName = "take";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("take", take));
    localVarQueryParameterBaseName = "skip";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("skip", skip));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 添加数据
   * 
   * @param table 表名称（小写字母加数字,1-50位） (required)
   * @param appKey  (required)
   * @param requestBody json对象 / json数组 (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storagePost(String table, String appKey, List<Object> requestBody) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storagePostWithHttpInfo(table, appKey, requestBody);
    return localVarResponse.getData();
  }

  /**
   * 添加数据
   * 
   * @param table 表名称（小写字母加数字,1-50位） (required)
   * @param appKey  (required)
   * @param requestBody json对象 / json数组 (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storagePostWithHttpInfo(String table, String appKey, List<Object> requestBody) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storagePostRequestBuilder(table, appKey, requestBody);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storagePost", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storagePostRequestBuilder(String table, String appKey, List<Object> requestBody) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storagePost");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storagePost");
    }
    // verify the required parameter 'requestBody' is set
    if (requestBody == null) {
      throw new ApiException(400, "Missing the required parameter 'requestBody' when calling storagePost");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(requestBody);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 添加索引
   * 
   * @param table 表名称（小写字母加数字,1-50位） (required)
   * @param appKey  (required)
   * @param postIndexRequest json对象 / json数组 (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storagePostIndex(String table, String appKey, PostIndexRequest postIndexRequest) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storagePostIndexWithHttpInfo(table, appKey, postIndexRequest);
    return localVarResponse.getData();
  }

  /**
   * 添加索引
   * 
   * @param table 表名称（小写字母加数字,1-50位） (required)
   * @param appKey  (required)
   * @param postIndexRequest json对象 / json数组 (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storagePostIndexWithHttpInfo(String table, String appKey, PostIndexRequest postIndexRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storagePostIndexRequestBuilder(table, appKey, postIndexRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storagePostIndex", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storagePostIndexRequestBuilder(String table, String appKey, PostIndexRequest postIndexRequest) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storagePostIndex");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storagePostIndex");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/indexes"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(postIndexRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 更新数据
   * 
   * @param table 表名称 (required)
   * @param id 数据ID (required)
   * @param appKey  (required)
   * @param body json格式 (required)
   * @param replace 是否为全量更新，默认为false (optional, default to false)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storagePut(String table, String id, String appKey, Object body, Boolean replace) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storagePutWithHttpInfo(table, id, appKey, body, replace);
    return localVarResponse.getData();
  }

  /**
   * 更新数据
   * 
   * @param table 表名称 (required)
   * @param id 数据ID (required)
   * @param appKey  (required)
   * @param body json格式 (required)
   * @param replace 是否为全量更新，默认为false (optional, default to false)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storagePutWithHttpInfo(String table, String id, String appKey, Object body, Boolean replace) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storagePutRequestBuilder(table, id, appKey, body, replace);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storagePut", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storagePutRequestBuilder(String table, String id, String appKey, Object body, Boolean replace) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storagePut");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling storagePut");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storagePut");
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling storagePut");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/{id}"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "replace";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("replace", replace));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除表
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageRemove(String table, String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageRemoveWithHttpInfo(table, appKey);
    return localVarResponse.getData();
  }

  /**
   * 删除表
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageRemoveWithHttpInfo(String table, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageRemoveRequestBuilder(table, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageRemove", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageRemoveRequestBuilder(String table, String appKey) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storageRemove");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageRemove");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/Remove"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 数据表统计
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageStats(String table, String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageStatsWithHttpInfo(table, appKey);
    return localVarResponse.getData();
  }

  /**
   * 数据表统计
   * 
   * @param table 表名称 (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageStatsWithHttpInfo(String table, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageStatsRequestBuilder(table, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageStats", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageStatsRequestBuilder(String table, String appKey) throws ApiException {
    // verify the required parameter 'table' is set
    if (table == null) {
      throw new ApiException(400, "Missing the required parameter 'table' when calling storageStats");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageStats");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/{table}/Stats"
        .replace("{table}", ApiClient.urlEncode(table.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 获取数据表
   * 
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult storageTables(String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = storageTablesWithHttpInfo(appKey);
    return localVarResponse.getData();
  }

  /**
   * 获取数据表
   * 
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> storageTablesWithHttpInfo(String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = storageTablesRequestBuilder(appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("storageTables", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder storageTablesRequestBuilder(String appKey) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling storageTables");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Storage/{appKey}/Tables"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
