/*
 * 全部  API 文档
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.zashigaofa.client.api;

import com.zashigaofa.client.ApiClient;
import com.zashigaofa.client.ApiException;
import com.zashigaofa.client.ApiResponse;
import com.zashigaofa.client.Configuration;
import com.zashigaofa.client.Pair;

import com.zashigaofa.client.model.AppUserResetPwdRequest;
import com.zashigaofa.client.model.EmailSignInRequest;
import com.zashigaofa.client.model.EmailSignUpRequest;
import java.io.File;
import com.zashigaofa.client.model.FollowerPutModel;
import com.zashigaofa.client.model.GeoLocationModel;
import com.zashigaofa.client.model.JObjectApiResult;
import com.zashigaofa.client.model.OAuthAccountBindRequest;
import com.zashigaofa.client.model.OAuthAccountPutBindRequest;
import com.zashigaofa.client.model.OAuthAccountSignInRequest;
import com.zashigaofa.client.model.PhoneSignInRequest;
import com.zashigaofa.client.model.PhoneSignUpRequest;
import com.zashigaofa.client.model.QRCodePreSignInRequest;
import com.zashigaofa.client.model.QRCodeScanRequest;
import com.zashigaofa.client.model.QRCodeSignInRequest;
import com.zashigaofa.client.model.QRCodeSignUpRequest;
import com.zashigaofa.client.model.SendEmailCodeRequest;
import com.zashigaofa.client.model.SendSMSCodeRequest;
import com.zashigaofa.client.model.SignInRequest;
import com.zashigaofa.client.model.SignUpRequest;
import com.zashigaofa.client.model.UnionIDSignInRequest;
import com.zashigaofa.client.model.UnionIDSignUpRequest;
import com.zashigaofa.client.model.UpdateProfileRequest;
import com.zashigaofa.client.model.User;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2025-03-22T08:55:19.994923193Z[Etc/UTC]", comments = "Generator version: 7.13.0-SNAPSHOT")
public class UserApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public UserApi() {
    this(Configuration.getDefaultApiClient());
  }

  public UserApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 用户详情
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult user(Long id, String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 用户详情
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("user", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling user");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling user");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 清空用户数据
   * 
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userClear(String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userClearWithHttpInfo(appKey);
    return localVarResponse.getData();
  }

  /**
   * 清空用户数据
   * 
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userClearWithHttpInfo(String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userClearRequestBuilder(appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userClear", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userClearRequestBuilder(String appKey) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userClear");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Clear"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 有共同爱好的用户推荐
   * 
   * @param appKey  (required)
   * @param tag  (optional)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userCommonInterests(String appKey, String tag, Integer skip, Integer take) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userCommonInterestsWithHttpInfo(appKey, tag, skip, take);
    return localVarResponse.getData();
  }

  /**
   * 有共同爱好的用户推荐
   * 
   * @param appKey  (required)
   * @param tag  (optional)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userCommonInterestsWithHttpInfo(String appKey, String tag, Integer skip, Integer take) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userCommonInterestsRequestBuilder(appKey, tag, skip, take);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userCommonInterests", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userCommonInterestsRequestBuilder(String appKey, String tag, Integer skip, Integer take) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userCommonInterests");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Friends/CommonInterests"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "tag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tag", tag));
    localVarQueryParameterBaseName = "skip";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("skip", skip));
    localVarQueryParameterBaseName = "take";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("take", take));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除用户
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userDelete(Long id, String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userDeleteWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 删除用户
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userDeleteWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userDeleteRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userDelete", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userDeleteRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling userDelete");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 邮箱登录
   * 
   * @param appKey  (required)
   * @param emailSignInRequest  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userEmailSignIn(String appKey, EmailSignInRequest emailSignInRequest) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userEmailSignInWithHttpInfo(appKey, emailSignInRequest);
    return localVarResponse.getData();
  }

  /**
   * 邮箱登录
   * 
   * @param appKey  (required)
   * @param emailSignInRequest  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userEmailSignInWithHttpInfo(String appKey, EmailSignInRequest emailSignInRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userEmailSignInRequestBuilder(appKey, emailSignInRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userEmailSignIn", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userEmailSignInRequestBuilder(String appKey, EmailSignInRequest emailSignInRequest) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userEmailSignIn");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/EmailSignIn"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(emailSignInRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 邮箱注册
   * 
   * @param appKey  (required)
   * @param emailSignUpRequest  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userEmailSignUp(String appKey, EmailSignUpRequest emailSignUpRequest) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userEmailSignUpWithHttpInfo(appKey, emailSignUpRequest);
    return localVarResponse.getData();
  }

  /**
   * 邮箱注册
   * 
   * @param appKey  (required)
   * @param emailSignUpRequest  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userEmailSignUpWithHttpInfo(String appKey, EmailSignUpRequest emailSignUpRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userEmailSignUpRequestBuilder(appKey, emailSignUpRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userEmailSignUp", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userEmailSignUpRequestBuilder(String appKey, EmailSignUpRequest emailSignUpRequest) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userEmailSignUp");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/EmailSignUp"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(emailSignUpRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 导出用户数据
   * 
   * @param appKey  (required)
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File userExport(String appKey) throws ApiException {
    ApiResponse<File> localVarResponse = userExportWithHttpInfo(appKey);
    return localVarResponse.getData();
  }

  /**
   * 导出用户数据
   * 
   * @param appKey  (required)
   * @return ApiResponse&lt;File&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<File> userExportWithHttpInfo(String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userExportRequestBuilder(appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userExport", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<File>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<File>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<File>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userExportRequestBuilder(String appKey) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userExport");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Export"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 关注用户
   * 
   * @param userId  (required)
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userFollowUser(Long userId, String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userFollowUserWithHttpInfo(userId, appKey);
    return localVarResponse.getData();
  }

  /**
   * 关注用户
   * 
   * @param userId  (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userFollowUserWithHttpInfo(Long userId, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userFollowUserRequestBuilder(userId, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userFollowUser", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userFollowUserRequestBuilder(Long userId, String appKey) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling userFollowUser");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userFollowUser");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Follower/{userId}"
        .replace("{userId}", ApiClient.urlEncode(userId.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 更新粉丝
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @param followerPutModel  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userFollowerPut(Long id, String appKey, FollowerPutModel followerPutModel) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userFollowerPutWithHttpInfo(id, appKey, followerPutModel);
    return localVarResponse.getData();
  }

  /**
   * 更新粉丝
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @param followerPutModel  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userFollowerPutWithHttpInfo(Long id, String appKey, FollowerPutModel followerPutModel) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userFollowerPutRequestBuilder(id, appKey, followerPutModel);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userFollowerPut", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userFollowerPutRequestBuilder(Long id, String appKey, FollowerPutModel followerPutModel) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling userFollowerPut");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userFollowerPut");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Follower/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(followerPutModel);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 我的粉丝
   * 
   * @param appKey  (required)
   * @param tag  (optional)
   * @param status  (optional)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userFollowers(String appKey, String tag, String status, Integer skip, Integer take) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userFollowersWithHttpInfo(appKey, tag, status, skip, take);
    return localVarResponse.getData();
  }

  /**
   * 我的粉丝
   * 
   * @param appKey  (required)
   * @param tag  (optional)
   * @param status  (optional)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userFollowersWithHttpInfo(String appKey, String tag, String status, Integer skip, Integer take) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userFollowersRequestBuilder(appKey, tag, status, skip, take);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userFollowers", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userFollowersRequestBuilder(String appKey, String tag, String status, Integer skip, Integer take) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userFollowers");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Followers"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "tag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tag", tag));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "skip";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("skip", skip));
    localVarQueryParameterBaseName = "take";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("take", take));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 我的关注
   * 
   * @param appKey  (required)
   * @param tag  (optional)
   * @param status  (optional)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userFollowing(String appKey, String tag, String status, Integer skip, Integer take) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userFollowingWithHttpInfo(appKey, tag, status, skip, take);
    return localVarResponse.getData();
  }

  /**
   * 我的关注
   * 
   * @param appKey  (required)
   * @param tag  (optional)
   * @param status  (optional)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userFollowingWithHttpInfo(String appKey, String tag, String status, Integer skip, Integer take) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userFollowingRequestBuilder(appKey, tag, status, skip, take);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userFollowing", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userFollowingRequestBuilder(String appKey, String tag, String status, Integer skip, Integer take) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userFollowing");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Following"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "tag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tag", tag));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "skip";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("skip", skip));
    localVarQueryParameterBaseName = "take";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("take", take));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 附近的用户推荐
   * 
   * @param x 纬度 (required)
   * @param y 经度 (required)
   * @param distance 附近距离，单位：米 (required)
   * @param appKey  (required)
   * @param gender 性别 (optional)
   * @param ageS 年龄段 (optional)
   * @param ageE 年龄段 (optional)
   * @param tag 标签 (optional)
   * @param type 分类 (optional)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userFriendsNearBy(Double x, Double y, Long distance, String appKey, String gender, Integer ageS, Integer ageE, String tag, String type, Integer skip, Integer take) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userFriendsNearByWithHttpInfo(x, y, distance, appKey, gender, ageS, ageE, tag, type, skip, take);
    return localVarResponse.getData();
  }

  /**
   * 附近的用户推荐
   * 
   * @param x 纬度 (required)
   * @param y 经度 (required)
   * @param distance 附近距离，单位：米 (required)
   * @param appKey  (required)
   * @param gender 性别 (optional)
   * @param ageS 年龄段 (optional)
   * @param ageE 年龄段 (optional)
   * @param tag 标签 (optional)
   * @param type 分类 (optional)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userFriendsNearByWithHttpInfo(Double x, Double y, Long distance, String appKey, String gender, Integer ageS, Integer ageE, String tag, String type, Integer skip, Integer take) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userFriendsNearByRequestBuilder(x, y, distance, appKey, gender, ageS, ageE, tag, type, skip, take);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userFriendsNearBy", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userFriendsNearByRequestBuilder(Double x, Double y, Long distance, String appKey, String gender, Integer ageS, Integer ageE, String tag, String type, Integer skip, Integer take) throws ApiException {
    // verify the required parameter 'x' is set
    if (x == null) {
      throw new ApiException(400, "Missing the required parameter 'x' when calling userFriendsNearBy");
    }
    // verify the required parameter 'y' is set
    if (y == null) {
      throw new ApiException(400, "Missing the required parameter 'y' when calling userFriendsNearBy");
    }
    // verify the required parameter 'distance' is set
    if (distance == null) {
      throw new ApiException(400, "Missing the required parameter 'distance' when calling userFriendsNearBy");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userFriendsNearBy");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Friends/NearBy"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "x";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("x", x));
    localVarQueryParameterBaseName = "y";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("y", y));
    localVarQueryParameterBaseName = "distance";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("distance", distance));
    localVarQueryParameterBaseName = "gender";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("gender", gender));
    localVarQueryParameterBaseName = "ageS";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("ageS", ageS));
    localVarQueryParameterBaseName = "ageE";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("ageE", ageE));
    localVarQueryParameterBaseName = "tag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tag", tag));
    localVarQueryParameterBaseName = "type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));
    localVarQueryParameterBaseName = "skip";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("skip", skip));
    localVarQueryParameterBaseName = "take";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("take", take));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 导入用户数据
   * 
   * @param appKey  (required)
   * @param check  (optional)
   * @param _file  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userImport(String appKey, Boolean check, File _file) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userImportWithHttpInfo(appKey, check, _file);
    return localVarResponse.getData();
  }

  /**
   * 导入用户数据
   * 
   * @param appKey  (required)
   * @param check  (optional)
   * @param _file  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userImportWithHttpInfo(String appKey, Boolean check, File _file) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userImportRequestBuilder(appKey, check, _file);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userImport", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userImportRequestBuilder(String appKey, Boolean check, File _file) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userImport");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Import"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "check";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("check", check));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    MultipartEntityBuilder multiPartBuilder = MultipartEntityBuilder.create();
    boolean hasFiles = false;
    multiPartBuilder.addBinaryBody("file", _file);
    hasFiles = true;
    HttpEntity entity = multiPartBuilder.build();
    HttpRequest.BodyPublisher formDataPublisher;
    if (hasFiles) {
        Pipe pipe;
        try {
            pipe = Pipe.open();
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        new Thread(() -> {
            try (OutputStream outputStream = Channels.newOutputStream(pipe.sink())) {
                entity.writeTo(outputStream);
            } catch (IOException e) {
                e.printStackTrace();
            }
        }).start();
        formDataPublisher = HttpRequest.BodyPublishers.ofInputStream(() -> Channels.newInputStream(pipe.source()));
    } else {
        ByteArrayOutputStream formOutputStream = new ByteArrayOutputStream();
        try {
            entity.writeTo(formOutputStream);
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        formDataPublisher = HttpRequest.BodyPublishers
            .ofInputStream(() -> new ByteArrayInputStream(formOutputStream.toByteArray()));
    }
    localVarRequestBuilder
        .header("Content-Type", entity.getContentType().getValue())
        .method("POST", formDataPublisher);
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 位置详情
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userLocation(Long id, String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userLocationWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 位置详情
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userLocationWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userLocationRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userLocation", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userLocationRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling userLocation");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userLocation");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Location/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 删除位置
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userLocationDelete(Long id, String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userLocationDeleteWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 删除位置
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userLocationDeleteWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userLocationDeleteRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userLocationDelete", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userLocationDeleteRequestBuilder(Long id, String appKey) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling userLocationDelete");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userLocationDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Location/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 添加位置
   * 
   * @param appKey  (required)
   * @param geoLocationModel  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userLocationPost(String appKey, GeoLocationModel geoLocationModel) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userLocationPostWithHttpInfo(appKey, geoLocationModel);
    return localVarResponse.getData();
  }

  /**
   * 添加位置
   * 
   * @param appKey  (required)
   * @param geoLocationModel  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userLocationPostWithHttpInfo(String appKey, GeoLocationModel geoLocationModel) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userLocationPostRequestBuilder(appKey, geoLocationModel);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userLocationPost", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userLocationPostRequestBuilder(String appKey, GeoLocationModel geoLocationModel) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userLocationPost");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Location"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(geoLocationModel);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 更新位置
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @param geoLocationModel  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userLocationPut(Long id, String appKey, GeoLocationModel geoLocationModel) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userLocationPutWithHttpInfo(id, appKey, geoLocationModel);
    return localVarResponse.getData();
  }

  /**
   * 更新位置
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @param geoLocationModel  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userLocationPutWithHttpInfo(Long id, String appKey, GeoLocationModel geoLocationModel) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userLocationPutRequestBuilder(id, appKey, geoLocationModel);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userLocationPut", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userLocationPutRequestBuilder(Long id, String appKey, GeoLocationModel geoLocationModel) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling userLocationPut");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userLocationPut");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Location/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(geoLocationModel);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 位置列表
   * 
   * @param appKey  (required)
   * @param tag 标签 (optional)
   * @param type 分类 (optional)
   * @param x 纬度 (optional)
   * @param y 经度 (optional)
   * @param sphere 附近距离，单位：米 (optional)
   * @param skip  (optional)
   * @param take  (optional, default to 10)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userLocations(String appKey, String tag, String type, Double x, Double y, Long sphere, Integer skip, Integer take) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userLocationsWithHttpInfo(appKey, tag, type, x, y, sphere, skip, take);
    return localVarResponse.getData();
  }

  /**
   * 位置列表
   * 
   * @param appKey  (required)
   * @param tag 标签 (optional)
   * @param type 分类 (optional)
   * @param x 纬度 (optional)
   * @param y 经度 (optional)
   * @param sphere 附近距离，单位：米 (optional)
   * @param skip  (optional)
   * @param take  (optional, default to 10)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userLocationsWithHttpInfo(String appKey, String tag, String type, Double x, Double y, Long sphere, Integer skip, Integer take) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userLocationsRequestBuilder(appKey, tag, type, x, y, sphere, skip, take);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userLocations", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userLocationsRequestBuilder(String appKey, String tag, String type, Double x, Double y, Long sphere, Integer skip, Integer take) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userLocations");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Locations"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "tag";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tag", tag));
    localVarQueryParameterBaseName = "type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));
    localVarQueryParameterBaseName = "x";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("x", x));
    localVarQueryParameterBaseName = "y";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("y", y));
    localVarQueryParameterBaseName = "sphere";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sphere", sphere));
    localVarQueryParameterBaseName = "skip";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("skip", skip));
    localVarQueryParameterBaseName = "take";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("take", take));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 有共同粉丝的用户推荐
   * 
   * @param appKey  (required)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userMutualFollowers(String appKey, Integer skip, Integer take) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userMutualFollowersWithHttpInfo(appKey, skip, take);
    return localVarResponse.getData();
  }

  /**
   * 有共同粉丝的用户推荐
   * 
   * @param appKey  (required)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userMutualFollowersWithHttpInfo(String appKey, Integer skip, Integer take) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userMutualFollowersRequestBuilder(appKey, skip, take);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userMutualFollowers", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userMutualFollowersRequestBuilder(String appKey, Integer skip, Integer take) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userMutualFollowers");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Friends/MutualFollowers"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "skip";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("skip", skip));
    localVarQueryParameterBaseName = "take";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("take", take));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 有共同关注的用户推荐
   * 
   * @param appKey  (required)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userMutualFollowings(String appKey, Integer skip, Integer take) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userMutualFollowingsWithHttpInfo(appKey, skip, take);
    return localVarResponse.getData();
  }

  /**
   * 有共同关注的用户推荐
   * 
   * @param appKey  (required)
   * @param skip  (optional, default to 0)
   * @param take  (optional, default to 10)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userMutualFollowingsWithHttpInfo(String appKey, Integer skip, Integer take) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userMutualFollowingsRequestBuilder(appKey, skip, take);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userMutualFollowings", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userMutualFollowingsRequestBuilder(String appKey, Integer skip, Integer take) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userMutualFollowings");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/Friends/MutualFollowings"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "skip";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("skip", skip));
    localVarQueryParameterBaseName = "take";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("take", take));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 外部账号 绑定
   * 
   * @param appKey  (required)
   * @param oauthAccountBindRequest  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userOAuthAccountBind(String appKey, OAuthAccountBindRequest oauthAccountBindRequest) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userOAuthAccountBindWithHttpInfo(appKey, oauthAccountBindRequest);
    return localVarResponse.getData();
  }

  /**
   * 外部账号 绑定
   * 
   * @param appKey  (required)
   * @param oauthAccountBindRequest  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userOAuthAccountBindWithHttpInfo(String appKey, OAuthAccountBindRequest oauthAccountBindRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userOAuthAccountBindRequestBuilder(appKey, oauthAccountBindRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userOAuthAccountBind", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userOAuthAccountBindRequestBuilder(String appKey, OAuthAccountBindRequest oauthAccountBindRequest) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userOAuthAccountBind");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/OAuthAccountBind"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(oauthAccountBindRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 外部账号 登录
   * 
   * @param appKey  (required)
   * @param oauthAccountSignInRequest  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userOAuthAccountSignIn(String appKey, OAuthAccountSignInRequest oauthAccountSignInRequest) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userOAuthAccountSignInWithHttpInfo(appKey, oauthAccountSignInRequest);
    return localVarResponse.getData();
  }

  /**
   * 外部账号 登录
   * 
   * @param appKey  (required)
   * @param oauthAccountSignInRequest  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userOAuthAccountSignInWithHttpInfo(String appKey, OAuthAccountSignInRequest oauthAccountSignInRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userOAuthAccountSignInRequestBuilder(appKey, oauthAccountSignInRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userOAuthAccountSignIn", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userOAuthAccountSignInRequestBuilder(String appKey, OAuthAccountSignInRequest oauthAccountSignInRequest) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userOAuthAccountSignIn");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/OAuthAccountSignIn"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(oauthAccountSignInRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 外部账号 绑定列表
   * 
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userOAuthAccounts(String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userOAuthAccountsWithHttpInfo(appKey);
    return localVarResponse.getData();
  }

  /**
   * 外部账号 绑定列表
   * 
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userOAuthAccountsWithHttpInfo(String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userOAuthAccountsRequestBuilder(appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userOAuthAccounts", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userOAuthAccountsRequestBuilder(String appKey) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userOAuthAccounts");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/OAuthAccounts"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 外部账号 更新绑定
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @param oauthAccountPutBindRequest  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userOAuthAccountsPutBind(Long id, String appKey, OAuthAccountPutBindRequest oauthAccountPutBindRequest) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userOAuthAccountsPutBindWithHttpInfo(id, appKey, oauthAccountPutBindRequest);
    return localVarResponse.getData();
  }

  /**
   * 外部账号 更新绑定
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @param oauthAccountPutBindRequest  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userOAuthAccountsPutBindWithHttpInfo(Long id, String appKey, OAuthAccountPutBindRequest oauthAccountPutBindRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userOAuthAccountsPutBindRequestBuilder(id, appKey, oauthAccountPutBindRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userOAuthAccountsPutBind", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder userOAuthAccountsPutBindRequestBuilder(Long id, String appKey, OAuthAccountPutBindRequest oauthAccountPutBindRequest) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling userOAuthAccountsPutBind");
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling userOAuthAccountsPutBind");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/User/{appKey}/OAuthAccounts/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()))
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(oauthAccountPutBindRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 外部账号 删除绑定
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult userOAuthAccountsUnBind(Long id, String appKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = userOAuthAccountsUnBindWithHttpInfo(id, appKey);
    return localVarResponse.getData();
  }

  /**
   * 外部账号 删除绑定
   * 
   * @param id  (required)
   * @param appKey  (required)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> userOAuthAccountsUnBindWithHttpInfo(Long id, String appKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = userOAuthAccountsUnBindRequestBuilder(id, appKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("userOAuthAccountsUnBind", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

[...]
