/*
 * 全部  API 文档
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.zashigaofa.client.api;

import com.zashigaofa.client.ApiClient;
import com.zashigaofa.client.ApiException;
import com.zashigaofa.client.ApiResponse;
import com.zashigaofa.client.Configuration;
import com.zashigaofa.client.Pair;

import com.zashigaofa.client.model.JObjectApiResult;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2025-03-22T08:55:19.994923193Z[Etc/UTC]", comments = "Generator version: 7.13.0-SNAPSHOT")
public class WechatApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public WechatApi() {
    this(Configuration.getDefaultApiClient());
  }

  public WechatApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 小程序-解密数据
   * 
   * @param appKey  (required)
   * @param encryptedData 加密的数据 (optional)
   * @param iv  (optional)
   * @param sessionKey  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult wechatDecrypt(String appKey, String encryptedData, String iv, String sessionKey) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = wechatDecryptWithHttpInfo(appKey, encryptedData, iv, sessionKey);
    return localVarResponse.getData();
  }

  /**
   * 小程序-解密数据
   * 
   * @param appKey  (required)
   * @param encryptedData 加密的数据 (optional)
   * @param iv  (optional)
   * @param sessionKey  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> wechatDecryptWithHttpInfo(String appKey, String encryptedData, String iv, String sessionKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = wechatDecryptRequestBuilder(appKey, encryptedData, iv, sessionKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("wechatDecrypt", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder wechatDecryptRequestBuilder(String appKey, String encryptedData, String iv, String sessionKey) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling wechatDecrypt");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Wechat/{appKey}/Decrypt"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "encryptedData";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("encryptedData", encryptedData));
    localVarQueryParameterBaseName = "iv";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("iv", iv));
    localVarQueryParameterBaseName = "sessionKey";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sessionKey", sessionKey));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 小程序-生成scheme码(该接口用于获取小程序 scheme 码，适用于短信、邮件、外部网页、微信内等拉起小程序的业务场景)
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://developers.weixin.qq.com/miniprogram/dev/OpenApiDoc/qrcode-link/url-scheme/generateScheme.html (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult wechatGenerateScheme(String appKey, Object body) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = wechatGenerateSchemeWithHttpInfo(appKey, body);
    return localVarResponse.getData();
  }

  /**
   * 小程序-生成scheme码(该接口用于获取小程序 scheme 码，适用于短信、邮件、外部网页、微信内等拉起小程序的业务场景)
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://developers.weixin.qq.com/miniprogram/dev/OpenApiDoc/qrcode-link/url-scheme/generateScheme.html (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> wechatGenerateSchemeWithHttpInfo(String appKey, Object body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = wechatGenerateSchemeRequestBuilder(appKey, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("wechatGenerateScheme", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder wechatGenerateSchemeRequestBuilder(String appKey, Object body) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling wechatGenerateScheme");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Wechat/{appKey}/GenerateScheme"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 小程序-登录凭证校验
   * 
   * @param appKey  (required)
   * @param jsCode 开发参考：https://dwz.cn/icNajFh7 (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult wechatJSCode2Session(String appKey, String jsCode) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = wechatJSCode2SessionWithHttpInfo(appKey, jsCode);
    return localVarResponse.getData();
  }

  /**
   * 小程序-登录凭证校验
   * 
   * @param appKey  (required)
   * @param jsCode 开发参考：https://dwz.cn/icNajFh7 (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> wechatJSCode2SessionWithHttpInfo(String appKey, String jsCode) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = wechatJSCode2SessionRequestBuilder(appKey, jsCode);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("wechatJSCode2Session", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder wechatJSCode2SessionRequestBuilder(String appKey, String jsCode) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling wechatJSCode2Session");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Wechat/{appKey}/JSCode2Session"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "js_code";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("js_code", jsCode));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 公众号H5-JS SDK Config
   * 
   * @param appKey  (required)
   * @param url  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult wechatJSConfig(String appKey, String url) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = wechatJSConfigWithHttpInfo(appKey, url);
    return localVarResponse.getData();
  }

  /**
   * 公众号H5-JS SDK Config
   * 
   * @param appKey  (required)
   * @param url  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> wechatJSConfigWithHttpInfo(String appKey, String url) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = wechatJSConfigRequestBuilder(appKey, url);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("wechatJSConfig", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder wechatJSConfigRequestBuilder(String appKey, String url) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling wechatJSConfig");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Wechat/{appKey}/JSConfig"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "url";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("url", url));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 公众号H5-发送一次性订阅消息
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://dwz.cn/IXptek5n (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult wechatSubscribeMSG(String appKey, Object body) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = wechatSubscribeMSGWithHttpInfo(appKey, body);
    return localVarResponse.getData();
  }

  /**
   * 公众号H5-发送一次性订阅消息
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://dwz.cn/IXptek5n (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> wechatSubscribeMSGWithHttpInfo(String appKey, Object body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = wechatSubscribeMSGRequestBuilder(appKey, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("wechatSubscribeMSG", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder wechatSubscribeMSGRequestBuilder(String appKey, Object body) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling wechatSubscribeMSG");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Wechat/{appKey}/SubscribeMSG"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 小程序-发送订阅消息
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://dwz.cn/bohXaCnp (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult wechatSubscribeSend(String appKey, Object body) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = wechatSubscribeSendWithHttpInfo(appKey, body);
    return localVarResponse.getData();
  }

  /**
   * 小程序-发送订阅消息
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://dwz.cn/bohXaCnp (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> wechatSubscribeSendWithHttpInfo(String appKey, Object body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = wechatSubscribeSendRequestBuilder(appKey, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("wechatSubscribeSend", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder wechatSubscribeSendRequestBuilder(String appKey, Object body) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling wechatSubscribeSend");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Wechat/{appKey}/SubscribeSend"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 小程序-生成网页跳转地址(获取小程序 URL Link，适用于短信、邮件、网页、微信内等拉起小程序的业务场景)
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://developers.weixin.qq.com/miniprogram/dev/api-backend/open-api/url-link/urllink.generate.html (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult wechatUrlLinkGenerate(String appKey, Object body) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = wechatUrlLinkGenerateWithHttpInfo(appKey, body);
    return localVarResponse.getData();
  }

  /**
   * 小程序-生成网页跳转地址(获取小程序 URL Link，适用于短信、邮件、网页、微信内等拉起小程序的业务场景)
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://developers.weixin.qq.com/miniprogram/dev/api-backend/open-api/url-link/urllink.generate.html (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> wechatUrlLinkGenerateWithHttpInfo(String appKey, Object body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = wechatUrlLinkGenerateRequestBuilder(appKey, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("wechatUrlLinkGenerate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder wechatUrlLinkGenerateRequestBuilder(String appKey, Object body) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling wechatUrlLinkGenerate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Wechat/{appKey}/UrlLinkGenerate"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 公众号H5-获取用户UnionID
   * 
   * @param appKey  (required)
   * @param openid  (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult wechatUserInfo(String appKey, String openid) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = wechatUserInfoWithHttpInfo(appKey, openid);
    return localVarResponse.getData();
  }

  /**
   * 公众号H5-获取用户UnionID
   * 
   * @param appKey  (required)
   * @param openid  (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> wechatUserInfoWithHttpInfo(String appKey, String openid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = wechatUserInfoRequestBuilder(appKey, openid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("wechatUserInfo", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder wechatUserInfoRequestBuilder(String appKey, String openid) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling wechatUserInfo");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Wechat/{appKey}/UserInfo"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "openid";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("openid", openid));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 小程序-获取小程序码
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://developers.weixin.qq.com/miniprogram/dev/api-backend/open-api/qr-code/wxacode.get.html (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult wechatWXACodeGet(String appKey, Object body) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = wechatWXACodeGetWithHttpInfo(appKey, body);
    return localVarResponse.getData();
  }

  /**
   * 小程序-获取小程序码
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://developers.weixin.qq.com/miniprogram/dev/api-backend/open-api/qr-code/wxacode.get.html (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> wechatWXACodeGetWithHttpInfo(String appKey, Object body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = wechatWXACodeGetRequestBuilder(appKey, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("wechatWXACodeGet", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder wechatWXACodeGetRequestBuilder(String appKey, Object body) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling wechatWXACodeGet");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Wechat/{appKey}/WXACodeGet"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 小程序-获取小程序码(无限制)
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://developers.weixin.qq.com/miniprogram/dev/api-backend/open-api/qr-code/wxacode.getUnlimited.html (optional)
   * @return JObjectApiResult
   * @throws ApiException if fails to make API call
   */
  public JObjectApiResult wechatWXACodeGetUnlimited(String appKey, Object body) throws ApiException {
    ApiResponse<JObjectApiResult> localVarResponse = wechatWXACodeGetUnlimitedWithHttpInfo(appKey, body);
    return localVarResponse.getData();
  }

  /**
   * 小程序-获取小程序码(无限制)
   * 
   * @param appKey  (required)
   * @param body 开发参考：https://developers.weixin.qq.com/miniprogram/dev/api-backend/open-api/qr-code/wxacode.getUnlimited.html (optional)
   * @return ApiResponse&lt;JObjectApiResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JObjectApiResult> wechatWXACodeGetUnlimitedWithHttpInfo(String appKey, Object body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = wechatWXACodeGetUnlimitedRequestBuilder(appKey, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("wechatWXACodeGetUnlimited", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<JObjectApiResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<JObjectApiResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<JObjectApiResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder wechatWXACodeGetUnlimitedRequestBuilder(String appKey, Object body) throws ApiException {
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      throw new ApiException(400, "Missing the required parameter 'appKey' when calling wechatWXACodeGetUnlimited");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/Wechat/{appKey}/WXACodeGetUnlimited"
        .replace("{appKey}", ApiClient.urlEncode(appKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json-patch+json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
